/* ==========================================================================
   Reset
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.superior-header{
    width: 100%;
    height: 100%;
    background-color: #404040;
}

.superior-header div{
    width: 1080px;
    height: 24px;
    margin: 0 auto;
}

.superior-header ul{
    list-style-type: none;
}

.superior-header ul li{
    display: inline-block;
}

.superior-header div ul li a{
    text-decoration: none;
    color: #999;
    font-size: 10px;
    padding-right: 20px;
    text-align: right;
}

.superior-header div a:hover{
    color: #fff;
}
